<div class="container">
    {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "post") }}

    {{ range $paginator.Pages.ByDate -}}
    {{ if not .Params.Hide }}
    <div class="row pt-3">
        <h1>
            <a class="post-link" href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </h1>
    </div>

    {{ partial "post-meta" . }}

    <div>
        {{ if isset .Params "description" | and (ne .Params.description "") -}}
        {{ .Description | markdownify }}
        {{- else -}}
        {{ .Summary }}
        {{- end }}
    </div>

    <div class="row pt-3">
        <a class="btn btn-outline-primary btn-md" href="{{ .Permalink }}" role="button">
            {{ .Site.Data.l10n.continueReading }}
        </a>
    </div>
    {{ end }}
    {{- end }}
</div>
