<div class="col col-12">
	{{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" "post") }}

	{{ range $paginator.Pages -}}
		{{ if not .Params.Hide }}
			<div class="row pt-3">
				<h1>
					<a class="post-link" href="{{ .Permalink }}">
						{{ .Title }}
					</a>
				</h1>
			</div>
			
			<div>
				<div class="row text-secondary post-meta py-1">
    				{{ .Date.Format "2006/01/02" }}
				</div>
				{{ if isset .Params "description" | and (ne .Params.description "") -}}
					{{ .Description | markdownify }}
				{{- else -}}
					{{ .Summary }}
				{{- end }}
			</div>

			<div class="row pt-3">
				<a class="btn btn-outline-primary btn-md" href="{{ .Permalink }}" role="button">
					{{ .Site.Data.l10n.continueReading }}
				</a>
			</div>
		{{ end }}
	{{- end }}
</div>
