<style>
.post-meta{
    text-transform:uppercase;
    letter-spacing:0.1em;
    font-size: 90%;
}
</style>

<div>
    <div>
        {{ if isset .Params "image" }}
            <meta property="og:image" content="{{ $.Params.image }}">
        {{ end }}
        <meta property="og:title" content="{{ $.Params.title }}">
        <meta property="og:description" content="{{ .Summary }} ...">
    </div>
    <div class="row text-secondary post-meta py-1">
        {{ .Date.Format "2006/01/02" }}
        
        &middot; 
        
        {{ .ReadingTime }}
        {{ .Site.Data.l10n.readingTime }}
    </div>

    <div class="row post-meta pb-3 pt-1">
        {{ if isset .Params "tags" -}}
        {{ $tagsLen := len .Params.tags }}
        {{ if gt $tagsLen 0 -}}
            
            {{ range $k, $v := (sort .Params.tags) -}}
            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}" class="badge badge-light">{{ . }}</a>
            {{ if lt $k (sub $tagsLen 1) }} &nbsp; {{ end }}
            {{- end }}
        {{- end }}
        {{- end }}
    </div>
</div>